/* ............................................ general style ............................... */
body{
background-color:#1f2edd7;
color:#393232;
text-align:center;
margin:0;
}
#homepage_image {
width:100%;
margin:5% 0;
}
#homepage_image img{
width:70%;
height:auto;
}
h1,h2,h3,h4,h5,h6{
  margin-top:0;
}
header{
background-color:#3a6351;
color:#f2edd7;
padding:1%;
}
nav{
padding-top: 1%;
}

main{
padding: 1% 1%;
}
a{
  color:#eeeeee;
  text-decoration: none;
  margin: 10px;
}
a:hover{
   color:#eeeeee;
  text-decoration: none;
}
/* ............................................ modules styles ............................... */
main a{
       color:#e48257;
       text-decoration: none;
       margin: 10px;
 }
main a:hover{
       color:#3a6351;
       text-decoration: none;
 }
img{
width:250px;
height:250px;
}

#profile_image{
padding-top: 2%;
}
/* ............................................ Posts style ............................... */
#posts{
text-align:left;
padding-left: 1%;
}

#posts article{
 border-left: 2px solid #393232;
   padding-left: 3%;
 font-size:18px;
 margin:1% 0;
}
#posts article h5{
 font-size:1.4em;
}
#posts article p{
 font-size:1em;
}
#posts article h6{
color:#e48257;
 font-size:0.7em;
}

#add_post{
    background-color: #f2edd7;
   padding: 2%;
   text-align: left;
}
#add_post form {
  width:50%;
  padding-left:5%;
}
#add_post form textArea{
  width:90%;
}
.feedPosts{
 border: 1px solid #eeeeee;
 margin: 1%;
 font-size:18px;
 padding: 5px 10px;
}

/* ---------------------------------------- form styles -----------------------------*/
#form{
padding:5% 0;
}
#form form {
   border: 1px solid #eeeeee;
   margin:60%;
   margin: auto;
}

#form form input[type=text]{
  width:50%;
  height: 35px;
  margin: 10px;
}
#form form label{
margin-right:10px;
}
#form form input[type=submit]{
 font-size:17px;
   padding:10px 35px;
 color: #393e46;
}

/* ............................................ error page ............................... */
#error{
 padding: 12%;
 color:#fb3640;
}


