<!doctype html>
<html lang="en">
<th:head th:include="fragments/general :: head"></th:head>
<body>

<header>
    <h2>Welcome <span th:text="${user.username}" ></span> </h2>
    <th:nav th:include="fragments/general :: nav"></th:nav>
</header>
<main>
<h1>Friends Feed </h1>
<section id="add_post">
    <article  th:each="u : ${user.friends}">
          <div class="feedPosts" th:if="${u.username} != ${user.username}">
              <h5 th:text="${u.username}"> </h5>
              <img src="https://image.shutterstock.com/image-vector/user-login-authenticate-icon-human-260nw-1365533969.jpg">

              <article th:each="p : ${u.getPosts()}">
                  <p th:text="${p.getBody()}"> </p>
                  <p th:text="${p.getCreatedAt()}"> </p>
                  <p><a th:href="@{'/profile/' + ${u.id}}">Visit publisher page</a></p>
              </article>
          </div>
    </article>
</section>
</main>
<th:footer th:include="fragments/general :: footer"></th:footer>
</body>
</html>