<!doctype html>
<html lang="en">
<th:head th:include="fragments/general :: head"></th:head>
<body>
<header>
    <h1>Welcome Back </h1>
    <nav>
        <a href="/signup">Sign up</a>
        <a href="/login">Login</a>
        <a href="/profile">profile</a>
    </nav>
</header>
<main>
<section id="form">
    <form action="/login" method='POST'>
        <label for="user"> User:</label> <br>
        <input id='user' type="text" name='username' value=''> <br>

        <label for="password"> password:</label> <br>
        <input id='password' type="text" name='password' value=''> <br>

        <input name="submit" type="submit" value="submit" />

    </form>
</section>

</main>
<th:footer th:include="fragments/general :: footer"></th:footer>
</body>
</html>