<!doctype html>
<html lang="en">
<th:head th:include="fragments/general :: head"></th:head>
<body>
<header>
    <h1>Welcome to my Home Page</h1>
    <nav>
        <a href="/signup">Sign up</a>
        <a href="/login">Login</a>
        <a href="/profile">profile</a>
    </nav>
</header>
<main>
<section id="form">

<form action="/signup" method="POST" >
    <label for="username">User name</label>
    <input id="username" name="username" type="text"> <br>

    <label for="password">password</label>
    <input id="password" name="password" type="text"> <br>

    <label for="firstName">first Name</label>
    <input id="firstName" name="firstName" type="text"> <br>

    <label for="lastName">last Name</label>
    <input id="lastName" name="lastName" type="text"> <br>

    <label for="dateOfBirth">date Of Birth</label>
    <input id="dateOfBirth" name="dateOfBirth" type="date"> <br>

    <label for="bio">bio</label>
    <input id="bio" name="bio" type="text"> <br>

    <button type="submit">Submit</button>
</form>

</section>
</main>
<th:footer th:include="fragments/general :: footer"></th:footer>
</body>
</html>